<a class="nav-link nav-link-label"href="#"data-toggle="dropdown">
    <i class="ficon feather icon-bell"></i>
    <span class="badge badge-pill badge-primary badge-up">5</span>
</a>
<ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
    <li class="dropdown-menu-header">
        <div class="dropdown-header m-0 p-2">
            <h3 class="white">5 اعلان </h3>
            <span class="notification-title">جدید برنامه</span>
        </div>
    </li>
    <li class="scrollable-container media-list">
        <a class="d-flex justify-content-between"href="javascript:void(0)">
            <div class="media d-flex align-items-start">
                <div class="media-left">
                    <i class="feather icon-plus-square font-medium-5 primary"></i>
                </div>
                <div class="media-body">
                    <h6 class="primary media-heading">شما سفارش جدید دارید !</h6>
                    <small class="notification-text">آیا قصد دارید امشب با من ملاقات کنید؟</small>
                </div>
                <small>
                    <time class="media-meta"datetime="2015-06-11T18:29:20+08:00">9 ساعت پیش</time>
                </small>
            </div>
        </a>
        <a class="d-flex justify-content-between"href="javascript:void(0)">
            <div class="media d-flex align-items-start">
                <div class="media-left">
                    <i class="feather icon-download-cloud font-medium-5 success"></i>
                </div>
                <div class="media-body">
                    <h6 class="success media-heading red darken-1">99% ظرفیت سرور پر است</h6>
                    <small class="notification-text">شما سفارش جدیدی از کالاها را دریافت کردید</small>
                </div>
                <small>
                    <time class="media-meta"datetime="2015-06-11T18:29:20+08:00">5 ساعت پیش</time>
                </small>
            </div>
        </a>
        <a class="d-flex justify-content-between"href="javascript:void(0)">
            <div class="media d-flex align-items-start">
                <div class="media-left">
                    <i class="feather icon-alert-triangle font-medium-5 danger"></i>
                </div>
                <div class="media-body">
                    <h6 class="danger media-heading yellow darken-3">اعلان های هشدار</h6>
                    <small class="notification-text">سرور 99% CPU را اشغال کرده</small>
                </div>
                <small>
                    <time class="media-meta"datetime="2015-06-11T18:29:20+08:00">امروز</time>
                </small>
            </div>
        </a>
        <a class="d-flex justify-content-between"href="javascript:void(0)">
            <div class="media d-flex align-items-start">
                <div class="media-left">
                    <i class="feather icon-check-circle font-medium-5 info"></i>
                </div>
                <div class="media-body">
                    <h6 class="info media-heading">کار را تکمیل کنید</h6>
                    <small class="notification-text">کاپ کیک کنجد</small>
                </div>
                <small>
                    <time class="media-meta"datetime="2015-06-11T18:29:20+08:00">هفته گذشته</time>
                </small>
            </div>
        </a>
        <a class="d-flex justify-content-between"href="javascript:void(0)">
            <div class="media d-flex align-items-start">
                <div class="media-left">
                    <i class="feather icon-file font-medium-5 warning"></i>
                </div>
                <div class="media-body">
                    <h6 class="warning media-heading">تهیه گزارش ماهانه</h6>
                    <small class="notification-text">لورم ایپسوم متن ساختگی با تولید سادگی.</small>
                </div>
                <small>
                    <time class="media-meta"datetime="2015-06-11T18:29:20+08:00">ماه اخیر</time>
                </small>
            </div>
        </a>
    </li>
    <li class="dropdown-menu-footer">
        <a class="dropdown-item p-1 text-center"href="javascript:void(0)">دیدن تمام اعلان ها</a>
    </li>
</ul>